services:
  app-1c:
    build:
      context: .
      dockerfile: Dockerfile
    image: 1c-docker-app-1c
    container_name: app-1c
    hostname: app-1c.lan

    restart: unless-stopped

    environment:
      TZ: Asia/Almaty

    ports:
      - "1540:1540"
      - "1541:1541"
      - "1560-1591:1560-1591"

    volumes:
      - ./data/srvinfo:/var/lib/1cv8
      - ./data/logs:/var/log/1C
      - ./data/conf:/opt/1cv8/conf

    stop_grace_period: 30s

    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "5"

    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.1 1540 && nc -z 127.0.0.1 1541"]
      interval: 10s
      timeout: 3s
      retries: 6
      start_period: 30s
